option_settings:
    aws:elasticbeanstalk:container:python:
        WSGIPath: capstone/wsgi.py

commands:
  00_update_pip:
    command: "/opt/python/run/venv/bin/pip install --upgrade pip"
  01_no_cache:
    command: "/opt/python/run/venv/bin/pip install --no-cache-dir -r /opt/python/current/app/requirements.txt"